.reviews {
  position: relative;
  padding: 96px 0;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url("../images/reviews/rewievs-decor.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
  }
  &__inner {
    display: flex;
    position: relative;
    z-index: 5;
    height: 810px;
  }
  &__content {
    width: 100%;
    max-width: 570px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fff;
    padding: 57px;
  }
  &__title {
    color: #1d1d1d;
    margin-bottom: 60px;
  }
  &__image {
    &:hover {
      filter: none;
    }
    width: 100%;
    max-width: 570px;
    filter: brightness(100%) contrast(100%) saturate(25%) blur(0px) hue-rotate(0deg);
    transition: all 0.2s;
  }
  &__image img {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    object-fit: cover;
    height: 100%;
  }
}

.reviews-slider {
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
  }
  &__prev {
    left: 0;
  }
  &__next {
    right: 0;
  }
  .swiper-pagination {
    position: static;
  }
  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.2;
    background: #000;
    margin: 0;
  }

  .swiper-pagination .swiper-pagination-bullet {
    margin: 6px;
  }

  .swiper-pagination-bullet-active {
    background: #f77f00;
    opacity: 1;
  }
}

.reviews-item {
  width: 100%;
  max-width: 433px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  &__text {
    margin-bottom: 25px;
    @extend %arc-600;
    font-size: 21px;
    line-height: 31.5px;
    letter-spacing: 1px;
    color: #1d1d1d;
    text-align: center;
    height: 125px;
    overflow: hidden;
  }
  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
  }
  &__avatar {
    margin-right: 20px;
    overflow: hidden;
    width: 75px;
    height: 75px;
  }
  &__avatar img {
    object-fit: cover;
    border-radius: 50%;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__name {
    margin-bottom: 4px;
    @extend %arc-800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #1d1d1d;
  }
  &__location {
    @extend %arc-300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    color: #f77f00;
  }
}

@media (max-width: 991px) {
  .reviews__inner {
    height: auto;
  }
  .reviews__container {
    padding: 0;
  }
  .reviews__inner {
    flex-direction: column;
  }
  .reviews__content {
    max-width: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
  }

  .reviews__image {
    max-width: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .reviews__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .reviews {
    padding-top: 0;
}
  
  .reviews__image {
    height: 100vh;
  }
}
