.feedback {
  padding: 97px 0;
  &__container {
    max-width: 1160px;
  }
  &__inner {
    display: flex;
  }
}

.touch {
  width: 100%;
  max-width: 685px;
  background-color: #202020;
  padding: 68px;
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 33px;
    @extend %arc-300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
  }
}

.feedback-form {
  &__labels {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
  }
  &__label {
    width: 100%;
    max-width: 268px;
    @extend %mont-600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f77f00;
  }
  &__label--special {
    max-width: none;
  }
  &__input {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    height: 55px;
    border-radius: 3px;
    background: #d6d6d6;
    border: none;
    &::placeholder {
      @extend %arc-300;
      color: #202020;
      font-size: 15px;
    }
  }

  &__textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    resize: none;
    height: 55px;
    border-radius: 3px;
    background: #d6d6d6;
    border: none;
    padding: 10px 20px;
  }
  &__btn {
    display: block;
    width: 100%;
    border-radius: 5px;
    background: #d21811;
    border: none;

    @extend %mont-700;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    min-height: 55px;
    padding: 15px 30px;
    cursor: pointer;
    &:hover {
      background-color: #ff2018;
    }
  }
}
.connect {
  width: 100%;
  max-width: 456px;
  background-color: #333533;
  padding: 55px 45px 100px;
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 45px;
    @extend %arc-300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
  }
  &__socials {
    margin-bottom: 30px;
  }
  &__img {
    overflow: hidden;
    filter: brightness(100%) contrast(100%) saturate(25%) blur(0px) hue-rotate(0deg);
    transition: all 0.2s;
    &:hover {
      filter: none;
    }
  }
  &__img img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
  }
}

@media (max-width: 1200px) {
  .feedback__inner {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .touch {
    padding: 68px;
    padding-bottom: 68px;
    padding-left: 0;
    padding-right: 0;
  }
  .feedback-form__labels {
    flex-direction: column;
  }
  .feedback-form__label {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .feedback {
    padding-top: 60px;
  }
  .touch {
    padding-top: 0;
  }

  .connect {
    padding: 40px 45px 50px;
  }

  .connect__title {
    font-size: 25px;
    line-height: 30px;
  }
}
