html,
body {
  height: 100%;
}

body {
  @extend %arc-300;
  font-size: 16px;
  color: #fff;
  background-color: #202020;
  min-width: 320px;
  overflow-x: hidden;
}

.lock {
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

// style

// burger
.burger {
  position: relative;
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  // z-index: 11;
}

.burger::before,
.burger::after {
  content: "";
  background: linear-gradient(90deg, #ec656d 0%, #ef914f 100%);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  display: block;
  position: absolute;
  background: linear-gradient(90deg, #ec656d 0%, #ef914f 100%);
  top: 9px;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s;
}

.burger--active::before {
  transform: rotate(45deg);
  top: 9px;
}

.burger--active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.burger--active span {
  transform: scale(0);
}

.btn {
  display: inline-block;
  min-height: 46px;
  padding: 15px 30px;
  @extend %mont-700;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 1px;

  border-radius: 5px;
  background-color: #d21811;

  transition: all 0.2s;
  &:hover {
    background-color: #ff2018;
  }
}

.btn--special {
  background-color: transparent;
  border: 2px solid #fff;
  transition: all .2s;
  &:hover {
    color: #1D1D1D;
    background-color: #fff;
  }
}
