html,
body {
  height: 100%;
}

body {
  @extend %arc-300;
  font-size: 16px;
  color: #fff;
  background-color: #202020;
  min-width: 320px;
  overflow-x: hidden;
}

.lock {
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.title {
  @extend %mont-700;
  font-size: 38px;
  line-height: 38px;
  color: #ffffff;
  &__decor {
    margin-top: 30px;
  }
}

.btn {
  display: inline-block;
  min-height: 46px;
  padding: 15px 30px;
  @extend %mont-700;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 1px;

  border-radius: 5px;
  background-color: #d21811;

  transition: all 0.2s;
  &:hover {
    background-color: #ff2018;
  }
}

.btn--special {
  background-color: transparent;
  border: 2px solid #fff;
  transition: all 0.2s;
  &:hover {
    color: #1d1d1d;
    background-color: #fff;
  }
}



.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    & svg path {
      transition: all 0.2s;
    }
    &:hover svg path {
      fill: #f77f00;
    }
  }
}
