@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";


@import "parts/header/header";
@import "parts/hero/hero";
@import "parts/works/works";
@import "parts/about/about";
@import "parts/services/services";
@import "parts/why/why";
@import "parts/reviews/reviews";
@import "parts/help/help";
@import "parts/partners/partners";



