.services {
  padding-top: 115px;
  position: relative;
  padding-bottom: 230px;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: 4;
    background-color: #d21811;
    transform: skew(0deg, -8deg);
  }
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
  &__items {
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}

.services-item {
  width: 100%;
  max-width: 260px;
  padding: 25px 27px 43px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1d1d1d;
  text-align: center;

  &__icon {
    margin-bottom: 20px;
    width: 41px;
    height: 41px;
  }
  &__icon img {
    object-fit: contain;
  }
  &__title {
    height: 56px;
    overflow: hidden;
    margin-bottom: 14px;
    @extend %mont-800;
    font-size: 23px;
    line-height: 28px;
  }
  &__content {
    overflow: hidden;
    height: 120px;
    @extend %arc-300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
  }
}

@media (max-width: 768px) {
  .services {
    padding-top: 60px;
  }
}

@media (max-width: 576px) {
  .services-item {
    max-width: none;
    // padding: 30px;
  }
}


