.hero-slider {
  position: relative;
  &__arrow {
    padding: 5px 8px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &__arrow-prev {
    left: 20px;
  }
  &__arrow-next {
    right: 20px;
  }
}
.hero-item {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 370px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &__wrap {
    padding: 100px 0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.63);
  }
  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 33px;
    color: #fff;
    text-align: center;
  }
  &__title {
    margin-bottom: 22px;
    @extend %mont-800;
    font-size: 79px;
    line-height: 79px;
    letter-spacing: 1px;
  }
  &__subtitle {
    margin-bottom: 33px;
    @extend %arc-300;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 1px;
  }
}

@media (max-width: 1200px) {
  .hero-item__title {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 576px) {
  .hero-item {
    min-height: calc(100vh - 100px);
  }
  .hero-item__title {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-item__content {
    padding: 0px 25px;
  }
  .hero-slider__arrow-prev {
    left: 5px;
}
.hero-slider__arrow-next {
    right: 5px;
}
}
