.why {
  margin-top: -60px;
  position: relative;
  padding-bottom: 57px;
  background-image: url("../images/why/why-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #202020 5%, #202020ba 100%);
  }
  &__inner {
    display: flex;
    position: relative;
    z-index: 90;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__image {
    position: relative;
    width: 100%;
    max-width: 456px;
    height: 71vh;
    margin-left: 35px;
    margin-right: auto;
    filter: brightness(100%) contrast(100%) saturate(25%) blur(0px) hue-rotate(0deg);
    transition: all 0.2s;
  }
  &__image:hover {
    filter: none;
  }
  &__image img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  &__content {
    margin-top: 74px;
    margin-left: 35px;
    width: 100%;
    max-width: 456px;
  }
  &__text {
    margin-bottom: 33px;
    @extend %arc-300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 436px;
    margin: 0 auto;
  }
}

.why-expirience {
  position: absolute;
  bottom: 10px;
  right: -10px;
  max-width: 285px;
  width: 100%;

  background-color: #f9fafa;
  padding: 30px;
  text-align: center;
  letter-spacing: 1px;
  color: #1d1d1d;
  border-radius: 5px;
  &__title {
    @extend %mont-700;
    font-size: 21px;
    line-height: 32px; /* 152.381% */
    color: #1d1d1d;
  }
  &__value {
    @extend %mont-800;
    font-size: 28px;
  }
}

.why-item {
  width: 100%;
  max-width: 208px;
  border-radius: 5px;
  background: #fff;
  padding: 20px 40px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__icon {
    margin-bottom: 20px;
    width: 51px;
    height: 50px;
  }
  &__icon img {
    object-fit: contain;
  }
  &__title {
    @extend %mont-700;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #1d1d1d;
  }
}

@media (max-width: 991px) {
  .why__inner {
    flex-direction: column;
    align-items: center;
  }

  .why__image {
    margin-left: 0;
    margin-right: 0;
  }

  .why__content {
    margin-top: 74px;
    margin-left: 0;
    max-width: none;
  }
  .why__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .why__items {
    justify-content: center;
  }
  .why__text {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .why-item {
    max-width: 150px;
    padding: 20px 15px 20px;
  }
  .why-item__title {
    font-size: 18px;
    line-height: 25px;
  }
  .why-item__icon {
    margin-bottom: 15px;
  }

  .why-expirience {
    bottom: -10px;
    right: auto;
    left: -10px;
    max-width: 208px;
  }
}

@media (max-width: 375px) {
  .why-item {
    max-width: 130px;
    padding: 15px 15px 15px;
  }
}
