.help {
  position: relative;
  padding: 200px 0;
  background-image: url("../images/help/help-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #202020;
    opacity: 0.8;
  }
  &__inner {
    position: relative;
    z-index: 5;
  }
  &__content {
    text-align: center;
  }
  &__title {
    margin-bottom: 20px;
    @extend %mont-700;
    font-size: 38px;
    line-height: 38px;
  }
  &__subtitle {
    margin-bottom: 20px;
    @extend %mont-700;
    color: #fff;
    font-size: 21px;
    line-height: 21px;
  }
  &__text {
    margin-bottom: 26px;
    @extend %arc-300;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 1px;
  }
}

@media (max-width: 576px) {
  .help {
    padding: 60px 0;
  }
}
