.partners {
  &__items {
    display: flex;
    align-items: center;
    gap: 0 46px;
    padding: 10px 13px;
  }
}

.partners-item {
  width: 100%;
  max-width: 178px;
  & img {
    object-fit: cover;
  }
}

@media (max-width: 1200px) {
  .partners__items {
    justify-content: center;
    gap: 0 20px;
  }
}

@media (max-width: 768px) {
  .partners__items {
    gap: 0;
  }
}

@media (max-width: 576px) {
  
}
